<ion-header>
    <ion-toolbar>
        <ion-title>Available Sizes</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">
                <ion-icon name="close-outline" color="primary" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        @for(size of sizes; track $index;){
        <ion-item>
            <ion-checkbox 
            [checked]="sizes.includes(size)" 
            (ionChange)="checkboxChanged($event, size)">
            {{ size }}<br />
            </ion-checkbox>
        </ion-item>
        }
    </ion-list>
</ion-content>