<div class="p-3">
    <ion-button shape="round" expand="block" color="light">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        Continue with Google
    </ion-button>
    <br/>
    <ion-button shape="round" expand="block" color="tertiary">
        <ion-icon name="logo-facebook" slot="start"></ion-icon>
        Continue with Facebook
    </ion-button>
    <br/>
    <ion-button shape="round" expand="block" color="dark">
        <ion-icon name="logo-apple" slot="start"></ion-icon>
        Continue with Apple
    </ion-button>
    <br/>
</div>