<ion-header>
    <ion-toolbar>
        <ion-title>Measurements</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">
                <ion-icon name="close-outline" color="primary" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form">
    <div formArrayName="measurements">
      @for (control of measurements.controls; track $index; let i = $index) {
        <div [formGroupName]="i" class="flex items-center gap-2 my-2">
          <ion-item class="flex-1" lines="outline">
            <ion-input
              formControlName="key"
              label="Measurement"
              labelPlacement="stacked"
              placeholder="e.g. Chest"
            ></ion-input>
          </ion-item>

          <ion-item class="flex-1" lines="outline">
            <ion-input
              formControlName="value"
              label="Value"
              labelPlacement="stacked"
              placeholder="e.g. 42 in"
            ></ion-input>
          </ion-item>

          <ion-button 
            color="danger" 
            fill="clear" 
            (click)="removeMeasurement(i)"
            [disabled]="measurements.length === 1"
          >
            <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </div>
      }
    </div>

    <div class="flex flex-col gap-2 px-2 py-4 mb-5">
      <app-primary-button
      [fill]="'outline'"
      [buttonText]="'Add Custom Field'"
      [icon]="'add-outline'"
      (action)="addMeasurement()"
      ></app-primary-button>

      <app-primary-button
      [buttonText]="'Save Measurements'"
      [icon]="'save-outline'"
      (action)="submit()"
      ></app-primary-button>
    </div>
  </form>
</ion-content>