<ion-item class="pt-4" lines="none">
  <ion-avatar aria-hidden="true" slot="start">
    <img [sizes]="" src="https://i.pravatar.cc/300?u=b" alt="Portrait of Connor Smith" />
  </ion-avatar>
  <ion-label>
    <h2>{{ profile.firstname + ' ' + profile.lastname }} <ion-badge slot="start">Basic</ion-badge></h2>
    <p>{{ profile.email }}</p>
  </ion-label>
  @if(!hideNotification){
    <ion-button color="light" size="large" (click)="action.emit()">
      <ion-icon name="notifications-outline" size="large" slot="icon-only"></ion-icon>
    </ion-button>
  }
</ion-item>