<ion-content [fullscreen]="true">
  <form #loginForm="ngForm" (ngSubmit)="submit()" class="p-3">
    <ion-input
      name="firstname"
      type="text"
      labelPlacement="floating" 
      fill="solid"
      helperText="Enter Firstname" 
      placeholder="Firstname"
      [(ngModel)]="client.firstname"
    ></ion-input>

    <ion-input 
      name="lastname"
      type="text" 
      labelPlacement="floating" 
      helperText="Enter Lastname"
      fill="solid" 
      [(ngModel)]="client.lastname"
    ></ion-input>

    <ion-input
      name="email"
      type="email"
      fill="solid"
      labelPlacement="floating"
      helperText="Enter a valid email"
      errorText="Invalid email"
      [(ngModel)]="client.email"
    ></ion-input>

    <ion-input 
      name="phoneNo"
      type="tel" 
      labelPlacement="floating" 
      fill="solid"
      helperText="Enter Phone No" 
      [(ngModel)]="client.phoneNo"
    ></ion-input>

    <br />

    <ion-select 
      name="gender" 
      [(ngModel)]="client.gender" 
      label="Gender" 
      aria-label="Gender" 
      placeholder="Select gender" 
      labelPlacement="stacked"
    >
      @for (gender of genders; track gender) {
        <ion-select-option [value]="gender">{{ gender }}</ion-select-option>
      }
    </ion-select> 

    <br />

    <div class="mt-4">
      <ion-button 
        type="submit"
        shape="round" 
        expand="block" 
        color="primary"
      >Continue</ion-button>
    </div>
  </form>
</ion-content>