@if(!isPreview){
<ion-header [translucent]="true"> 
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button>
                <ion-back-button default-href="/app/orders"></ion-back-button>
            </ion-back-button>
            <ion-title>Order</ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>}

@if(order){
<ion-content color="light" [fullscreen]="true">
    @if(!isPreview){
    <ion-header collapse="condense">
        <ion-toolbar color="light">
            <ion-title size="large">Order</ion-title>
        </ion-toolbar>
    </ion-header>}

    <!-- Client Information-->
    <ion-list [inset]="true">
        <ion-list-header>
            <ion-label>Client Information</ion-label>
            <ion-buttons slot="primary">
                <ion-button>
                    <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-list-header>
        
        <ion-item lines="none">
            <ion-label>
            <h2>
                {{ order.client.fullname  }}
            </h2>
            @if (order.client.email) {
                <p>{{ order.client.email }}</p>
            }
            @if (order.client.phoneNo) {
                <p>{{ order.client.phoneNo }}</p>
            }
            </ion-label>
        </ion-item>
    </ion-list>

    <!-- Client Measurement-->
    <ion-list [inset]="true">
        <ion-item button (click)="openMeasurementModal()">
            <ion-label>View Measurement</ion-label>
        </ion-item>
    </ion-list>

    <!-- Styles-->
    <ion-list [inset]="true">
        <ion-list-header>
            <ion-label>Styles</ion-label>
        </ion-list-header>

        @for(style of order.styles; track style._id){
            <ion-item-sliding>
                <ion-item [button]="true" (click)="viewStyleDetail(style)">
                    <ion-avatar aria-hidden="true" slot="start">
                        <img alt="" src="{{ style.images[0] }}" />
                    </ion-avatar>
                    <ion-label>
                        <h2>{{ style.name }}</h2>
                        <p>price: {{ style.totalAmount.toLocaleString() }}</p>
                        <p>quantity: {{ style.totalItems }}</p>    
                    </ion-label>
                </ion-item>
                <ion-item-options slot="end">
                    <ion-item-option 
                    (click)="viewDesignDetails(style.design)" 
                    color="primary">
                        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        }
    </ion-list>

    <!-- Modal sheet for quantity and color selection-->
    <ion-modal 
    #modal 
    [initialBreakpoint]="0.5" 
    [breakpoints]="[0.5, 0.75]"
    [isOpen]="isModalOpen"
    (didDismiss)="isModalOpen = false"
    [expandToScroll]="false">
        <ng-template>
            <ion-content>
                <ion-list lines="full">
                    <ion-list-header>
                        Specifications
                    </ion-list-header>

                    <ion-item class="">
                        <ion-avatar aria-hidden="true" slot="start">
                            <img alt="" src="{{ selectedStyle.images[0] }}" />
                        </ion-avatar>
                        <ion-label>
                            <h2>{{ selectedStyle.name }}</h2> 
                            <p>unit price: {{ selectedStyle.amount.toLocaleString() }}</p>
                        </ion-label>
                    </ion-item>
                    
                    @if(selectedStyle.type === designTypes.READYMADE){
                    @for(spec of selectedStyle.selections; track spec; let specIndex = $index;){
                    <ion-item-group>
                        <ion-item-divider>
                            <ion-label>{{ spec.size }}</ion-label>
                        </ion-item-divider>

                        @if(spec.colors.length > 0){
                        <ion-item>
                            <ion-label><p>selected colors:</p></ion-label>
                            <div class="color-grid">
                                @for(color of spec.colors; track color._id;) {
                                    <div
                                        class="color-swatch"
                                        [style.background-color]="color.hex"
                                    >
                                    </div>
                                }
                            </div>
                        </ion-item>}

                        <ion-item>
                            <ion-label>
                                <p class="text-lg">Price: {{ spec.amount.toLocaleString() }}</p>
                                <p>Qty: {{ selectedStyle.selections[specIndex].quantity }}</p>
                            </ion-label>
                            <ion-note>
                                
                                <p>Total: {{ (spec.amount * spec.quantity).toLocaleString() }}</p>
                            </ion-note>
                        </ion-item>
                    </ion-item-group>}
                    }
                    @else{
                        <ion-item>
                            <ion-label><p>Quantity</p></ion-label>
                            <ion-note>
                                <p>{{ selectedStyle.quantity }}</p>
                            </ion-note>
                        </ion-item>
                        <ion-item>
                            <ion-label><p>Selected Colors</p></ion-label>
                            <div class=" color-grid">
                            @for(color of selectedStyle.selectedColors; track color._id; let colorIndex = $index){
                                <div
                                    class="color-swatch"
                                    [style.background-color]="color.hex"    
                                >
                                </div>
                            } @empty {
                                
                            }
                            </div>
                        </ion-item>
                        <ion-item>
                            <ion-label><p>Total</p></ion-label>
                            <ion-note>{{ (selectedStyle.amount * selectedStyle.quantity).toLocaleString() }}</ion-note>
                        </ion-item>
                    }
                </ion-list>
            </ion-content>
        </ng-template>
    </ion-modal>

    <!-- Additional Details-->
    <ion-list [inset]="true">
        <ion-list-header>
            <ion-label>Additional Details</ion-label>
        </ion-list-header>

        @if(order.note){
        <ion-item>
            <ion-icon slot="start" name="document-outline"></ion-icon>
            <ion-label>
                <h2>{{ order.note }}</h2>
            </ion-label>
        </ion-item>
        }

        <ion-item>
            <ion-icon slot="start" name="calendar-number-outline"></ion-icon>
            <ion-label>
                <h2>{{ order.dueDate | date }}</h2>
            </ion-label>
            <ion-note>
                <p>due date</p>
            </ion-note>
        </ion-item>

        <ion-item>
            <ion-icon slot="start" name="storefront-outline"></ion-icon>
            <ion-label>
                <h2>{{ order.deliveryMethod }}</h2>
            </ion-label>
            <ion-note>
                <p>delivery method</p>
            </ion-note>
        </ion-item>
    </ion-list>

    <!-- Order Invoice-->
    <ion-list [inset]="true">
        <ion-list-header>
            <ion-label>Invoice</ion-label>
        </ion-list-header>

        @if(!isPreview){
        <ion-item button>
            <ion-icon slot="start" name="attach-outline"></ion-icon>
            <ion-label>
                <h2 class="font-bold text-lg">{{ order.orderId }}</h2>
            </ion-label>
            <ion-note>
                <p>Order ID</p>
            </ion-note>
        </ion-item>}

        <ion-item button>
            <ion-icon slot="start" name="cash-outline"></ion-icon>
            <ion-label>
                <h2 class="font-bold text-lg">{{ order.totalItems.toLocaleString() }}</h2>
            </ion-label>
            <ion-note>
                <p>total items</p>
            </ion-note>
        </ion-item>

        <ion-item button>
            <ion-icon slot="start" name="cash-outline"></ion-icon>
            <ion-label>
                <h2 class="font-bold text-lg">{{ order.totalAmount.toLocaleString() }}</h2>
            </ion-label>
            <ion-note>
                <p>total amount</p>
            </ion-note>
        </ion-item>
    </ion-list>

    @if(isPreview){
    <div class="p-3">
        <app-primary-button
        [buttonText]="'Save Order'"
        [icon]="'save-outline'"
        (action)="action.emit()"
        ></app-primary-button>
    </div>
    }@else{
    <div class="p-3">
        @if(order.status !== orderStatuses.CANCELLED && 
        order.status !== orderStatuses.COMPLETED){
            <app-primary-button
            [buttonText]="'Cancel Order'"
            [icon]="'close-outline'"
            [color]="'danger'"
            (action)="cancelOrder()"
            ></app-primary-button>
        } @else {
            <app-primary-button
            [buttonText]="'Order Cancelled'"
            [icon]="'close-outline'"
            [disabled]="true"
            [color]="'danger'"
            ></app-primary-button>
        }
    </div>}
</ion-content>
}