<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/app/dashboard">
      <ion-icon size="medium" name="grid-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="orders" href="/app/orders">
      <ion-icon size="medium" name="bag-handle-outline"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button (click)="openActionSheet()">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label>Create</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="clients" href="/app/clients">
      <ion-icon size="medium" name="people-outline"></ion-icon>
      <ion-label>Clients</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="styles" href="/app/styles">
      <ion-icon size="medium" name="color-palette-outline"></ion-icon>
      <ion-label>Styles</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/app/profile">
      <ion-icon size="medium" name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
