.ion-padding {
    padding: 16px;
}

.ion-padding-start{
    padding-left: 16px;
}

.secondary-text {
  color: var(--secondary-text-color);
}

h1 {
    font-size: 36px;
    font-weight: 500;
}

p {
    color: var(--secondary-text-color);
}