.draggable-fab {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 999;
  touch-action: none; /* critical: prevents the page from scrolling while dragging on touch devices */
}

ion-avatar {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}

/* ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #135d54;
  border: solid 1px #fff;
  color: #fff;
} */